<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935073858494-382us4dkeulsrf3irb3ces5cuaplrecg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935073858494-382us4dkeulsrf3irb3ces5cuaplrecg</string>
	<key>API_KEY</key>
	<string>AIzaSyDcvdAXLrIMZOiKNgIwphqAkkkfapHg_nw</string>
	<key>GCM_SENDER_ID</key>
	<string>935073858494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ArthurMayes.Talone</string>
	<key>PROJECT_ID</key>
	<string>talone-23f99</string>
	<key>STORAGE_BUCKET</key>
	<string>talone-23f99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935073858494:ios:640d2aae5305023c3aefef</string>
	<key>DATABASE_URL</key>
	<string>https://talone-23f99.firebaseio.com</string>
</dict>
</plist>